.w-100 {
	width: 100%;
}
.fullpage {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.w-3 {
	width: 440px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #252525;
  font-size: 15px;
  line-height: 28px;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
.d-flex a {
  padding: 25px;
}
img {
  max-width: 100%;
}
.or {
  text-align: center;
  position: relative;
  font-size: 16px;
}
.or::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #001d32;
  position: absolute;
  top: 14px;
  left: 0;
  opacity: 0.5;
}
.or span {
  padding: 0px 10px;
  background: #fff;
  position: relative;
}
.or{
  margin-bottom: 25px;
}
 .header {
  padding: 20px 20px;
  display: flex;
justify-content: space-between;
 }
 .header img {
  width: 100px;
}
.header h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1px;
}
.header p {
  color: #fff;
  font-size: 14px;
}
.header p span {
  color: #00c9ff;
  padding-left: 5px;
}
.submitpay {
  padding: 12px;
border-radius: 8px;
background: #82a916;
text-align: center;
color: #fff;
border: 0;
font-size: 18px;
font-family: 'Poppins', sans-serif !important;
min-width: 200px;
margin: 0px auto;
display: block;
text-align: center;
}
.w-3 {
  height: 100vh;
  border: 1px solid #eaeaea;
  position: relative;
  border-top: 0;
}
.paybutton {
  position: absolute;
  bottom: 25px;
  left: 0;
}

@media (max-width: 500px) {
  .w-3 {
    width: 100%;
  }
}